@import url("https://cdn.web-fonts.ge/fonts/dejavu-sans-condensed/css/dejavu-sans-condensed.min.css");

@font-face {
    font-family: 'DejaVu Sans Condensed Bold';
    src: url('../fonts/dejavu-sans-condensed-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/dejavu-sans-condensed-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dejavu-sans-condensed-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dejavu-sans-condensed-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/dejavu-sans-condensed-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dejavu-sans-condensed-bold-webfont.svg#dejavu_sans_condensedbold') format('svg'); /* Legacy iOS */
}

html{
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	max-width: 100%;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}

#logo{
	max-width: 115px;
	height: 65px;
	background-color: transparent;
	margin: 40px 488px 0 240px;
	display: inline-block;
	vertical-align: middle;
}

#contact{
	font-family: "DejaVu Sans Condensed", sans-serif;
	font-weight: 400;
	border-radius: 28px;
	background-color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	color: #171717;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0px;
	padding: 18px 36px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 241px;
}

#main-photo{
	max-width: 1195px;
	height: 600px;
	border-radius: 15px;
	margin: -133px 362px 30px 362px;
	object-fit: cover;
	vertical-align: top;
	display: block;
}

#h1{
	font-family: 'DejaVu Sans Condensed Bold', sans-serif;
	font-weight: 700;
	color: #171717;
	font-size: 28px;
	text-align: left;
	letter-spacing: 0px;
	margin-left: 362px;
	display: inline-block;
	vertical-align: middle;
}

.gallery img{
	max-width: 219px;
	width: 219px;
	height: 219px;
	border-radius: 15px;
	margin: 60px 20px 60px 0px;
	object-fit: cover;
	display: inline-block;
	text-align: left;
}

.gallery img:first-child{
    margin-left: 362px;
}

.text{
	font-family: "DejaVu Sans Condensed", sans-serif;
	font-weight: 400;
	color: #171717;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0px;
	margin-left: 484.5px;
	margin-bottom: 18px;
	display: block;
	vertical-align: middle;
	max-width: 951px;
}

.more{
	border-radius: 28px;
	background-color: #0A22F4;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0px;
	margin: 58px auto 0 auto;
	padding: 18px 57px;
	display: inline-block;
	vertical-align: middle;
}

header{
	max-width: 1920px;
	height: 387.56px;
	background-color: #0020F4;
	border: solid #0020F4
}

header nav ul li a{
	font-family: "DejaVu Sans Condensed", sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
	letter-spacing: 0px;
	text-transform: uppercase;
	margin-right: 43px;
	margin-top: 40px;
	display: inline-block;
	vertical-align: middle;
}

header nav{
	display: inline-block;
	vertical-align: middle;
}

header nav ul{
	text-align: right;
}

header nav ul li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 43px;
}

header a{
	display: inline-block;
	vertical-align: middle;
}

section{
	text-align: left;
}
